.sidebar {
     -fx-background-color: white;
     -fx-border-radius: 12;
     -fx-background-radius: 12;
     -fx-padding : 16;
}


.search-container {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 0 14 0 14;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-border-width: 1;
}


.search-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 14px;
    -fx-pref-width: 320px;
}

.search-parking-container {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 1 8 1 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-border-width: 1;
}

.search-bar-parking {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13px;
}

.logout-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-padding: 8 12;
}

/* Avatar user */
.user-avatar {
    -fx-background-color: #3498db;
    -fx-background-radius: 50%;
    -fx-alignment: center;
}

/* Initiale */
.user-initial {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.addParking {
    -fx-background-color: #3498db;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 7 0 7 0;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-padding: 6 0 8 0;
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#scrollCarList {
    -fx-padding: 16 0 0 0;
}


.parking-data-header {
     -fx-padding : 20;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #ffffff;
}

.h1 {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}


.data-block {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding:12;
    -fx-pref-width: 200;
  }

.data-block-text {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding:12;
}


.parking-information-label {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
    -fx-font-weight: bold;
}

.number {
    -fx-font-size: 42px;
    -fx-text-fill: #3498db;
    -fx-font-weight: bold;
}

#listCar {
    -fx-padding:20;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #ffffff;
}

#addCarBtn {
    -fx-background-color: #3498db;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 8 14 8 14;
}

.car-list-label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}



